n8n-messenger-hybrid-ai-v7.json
{
  "name": "Messenger Chatbot v7 - AI-First Hybrid",
  "active": false,
  "versionId": "7.0.0",
  "tags": [
    {
      "name": "messenger"
    },
    {
      "name": "v7"
    },
    {
      "name": "ai-first"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "triggerCount": 0,
  "pinData": {},
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "messenger-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "n001",
      "name": "Messenger Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        340
      ],
      "webhookId": "msg-wh-v7"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "messenger-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "n002",
      "name": "Webhook Verify",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        100
      ],
      "webhookId": "msg-wh-v7"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.challenge }}"
      },
      "id": "n003",
      "name": "Respond Verify",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        660,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"ok\"}"
      },
      "id": "n004",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        440,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "const query = $input.item.json.query || $input.item.json.params || {};\nconst mode = query['hub.mode'];\nconst token = query['hub.verify_token'];\nconst challenge = query['hub.challenge'];\nconst VERIFY_TOKEN = 'YOUR_VERIFY_TOKEN_HERE';\nif (mode === 'subscribe' && token === VERIFY_TOKEN) {\n  return [{ json: { challenge: parseInt(challenge) } }];\n}\nreturn [{ json: { challenge: 'Verification failed' } }];"
      },
      "id": "n005",
      "name": "Verify Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || $input.item.json;\nlet senderPsid = '';\nlet messageText = '';\nlet messageType = 'text';\nlet audioUrl = '';\nlet timestamp = Date.now();\ntry {\n  const entry = body.entry ? body.entry[0] : body;\n  const messaging = entry.messaging ? entry.messaging[0] : entry;\n  senderPsid = messaging.sender ? messaging.sender.id : (body.sender_id || '');\n  timestamp = messaging.timestamp || Date.now();\n  if (messaging.message) {\n    if (messaging.message.text) {\n      messageText = messaging.message.text;\n      messageType = 'text';\n    } else if (messaging.message.attachments) {\n      const att = messaging.message.attachments[0];\n      if (att.type === 'audio') {\n        audioUrl = att.payload.url;\n        messageType = 'audio';\n      } else {\n        messageType = 'unsupported';\n        messageText = '[attachment: ' + att.type + ']';\n      }\n    }\n  } else if (messaging.postback) {\n    messageText = messaging.postback.payload || messaging.postback.title || '';\n    messageType = 'postback';\n  }\n} catch (e) { messageType = 'error'; }\nreturn [{ json: { senderPsid, messageText, messageType, audioUrl, timestamp, dedupeKey: senderPsid + '_' + timestamp } }];"
      },
      "id": "n006",
      "name": "Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.messageText }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      },
      "id": "n007",
      "name": "Has Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "const key = $input.item.json.dedupeKey;\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.processed) staticData.processed = {};\nconst now = Date.now();\nObject.keys(staticData.processed).forEach(k => {\n  if (now - staticData.processed[k] > 300000) delete staticData.processed[k];\n});\nif (staticData.processed[key]) return [];\nstaticData.processed[key] = now;\nreturn [$input.item];"
      },
      "id": "n008",
      "name": "Dedup Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "combinator": "or",
          "conditions": [
            {
              "leftValue": "={{ $json.messageType }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "n009",
      "name": "Is Audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1320,
        340
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.audioUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "n010",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1540,
        200
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "bn"
        }
      },
      "id": "n011",
      "name": "Transcribe Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        1760,
        200
      ],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const transcription = $input.item.json.text || $input.item.json.transcription || '';\nconst prev = $('Dedup Check').item.json;\nif (!transcription || transcription.trim().length < 2) {\n  return [{ json: { ...prev, messageText: '__VOICE_FAILED__', messageType: 'voice_failed' } }];\n}\nreturn [{ json: { ...prev, messageText: transcription.trim(), messageType: 'voice_transcribed' } }];"
      },
      "id": "n012",
      "name": "Set Transcription",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        200
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "sheetName": "Products",
        "options": {}
      },
      "id": "n013",
      "name": "Load Products Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1540,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "sheetName": "FAQ",
        "options": {}
      },
      "id": "n014",
      "name": "Load FAQ Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1540,
        540
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "sheetName": "Conversation_Memory",
        "options": {}
      },
      "id": "n015",
      "name": "Load Memory Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1540,
        680
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const senderPsid = $input.item.json.senderPsid;\nconst messageText = $input.item.json.messageText;\nconst messageType = $input.item.json.messageType;\n\nlet allProducts = [];\ntry { allProducts = $('Load Products Sheet').all().map(i => i.json); } catch(e) {}\n\nlet allFaq = [];\ntry { allFaq = $('Load FAQ Sheet').all().map(i => i.json); } catch(e) {}\n\nlet memory = {};\ntry {\n  const memRows = $('Load Memory Sheet').all().map(i => i.json);\n  const myMem = memRows.find(r => String(r.Sender_PSID) === String(senderPsid));\n  if (myMem) memory = myMem;\n} catch(e) {}\n\nconst msgLower = (messageText || '').toLowerCase();\nconst stopWords = ['the','this','that','available','ache','ase','kore','korte','chai','only','just','please','ami','amar'];\nconst keywords = msgLower.split(/\\s+/).filter(w => w.length > 2 && !stopWords.includes(w));\n\nlet scoredProducts = allProducts.map(p => {\n  let score = 0;\n  const searchable = ((p.Product_Name||'') + ' ' + (p.Category||'') + ' ' + (p.Colors_Available||p.Color||'') + ' ' + (p.Sizes_Available||p.Size||'') + ' ' + (p.Description||'')).toLowerCase();\n  keywords.forEach(kw => { if (searchable.includes(kw)) score++; });\n  if (memory.Last_Category && searchable.includes((memory.Last_Category||'').toLowerCase())) score += 2;\n  if (memory.Last_Product_Name && searchable.includes((memory.Last_Product_Name||'').toLowerCase())) score += 3;\n  return { ...p, _score: score };\n});\n\nscoredProducts.sort((a, b) => b._score - a._score);\nlet contextProducts = scoredProducts.slice(0, 7).filter(p => p._score > 0);\n\nif (contextProducts.length === 0 && memory.Last_Category) {\n  contextProducts = allProducts.filter(p => p.Category && p.Category.toLowerCase() === (memory.Last_Category||'').toLowerCase()).slice(0, 5);\n}\nif (contextProducts.length === 0) {\n  contextProducts = allProducts.filter(p => (p.In_Stock === 'YES' || p.In_Stock === 'Yes' || parseInt(p.Stock_Qty||'0') > 0)).slice(0, 7);\n}\nif (contextProducts.length === 0) {\n  contextProducts = allProducts.slice(0, 5);\n}\n\nconst productContext = contextProducts.map((p, i) =>\n  (i+1) + '. ' + (p.Product_Name||'Unknown') + ' | \\u09F3' + (p.Price||'?') + ' | Category: ' + (p.Category||'?') + ' | Size: ' + (p.Sizes_Available||p.Size||'?') + ' | Color: ' + (p.Colors_Available||p.Color||'?') + ' | Stock: ' + (p.In_Stock||p.Stock_Qty||'?') + ' | ID: ' + (p.Product_ID||'?')\n).join('\\n');\n\nconst categories = [...new Set(allProducts.map(p => p.Category).filter(Boolean))];\nconst categoryList = categories.join(', ');\n\nlet relevantFaq = allFaq.map(f => {\n  let score = 0;\n  const faqKw = (f.Keywords || '').toLowerCase().split(',').map(k => k.trim());\n  keywords.forEach(kw => { if (faqKw.some(fk => fk.includes(kw))) score++; });\n  return { ...f, _score: score };\n}).sort((a, b) => b._score - a._score).slice(0, 3).filter(f => f._score > 0);\n\nconst faqContext = relevantFaq.map(f => 'Q: ' + f.Question + '\\nA: ' + f.Answer).join('\\n\\n');\n\nconst memoryContext = [\n  memory.Last_Product_Name ? 'Last product: ' + memory.Last_Product_Name : '',\n  memory.Last_Category ? 'Last category: ' + memory.Last_Category : '',\n  memory.Last_Size ? 'Last size: ' + memory.Last_Size : '',\n  memory.Last_Color ? 'Last color: ' + memory.Last_Color : '',\n  memory.Last_Intent ? 'Last intent: ' + memory.Last_Intent : '',\n  memory.Last_Bot_Reply ? 'Last bot reply: ' + (memory.Last_Bot_Reply||'').substring(0, 150) : '',\n  memory.Last_User_Message ? 'Last user msg: ' + memory.Last_User_Message : '',\n  memory.Last_Shown_Products_With_Numbers ? 'Last shown products: ' + memory.Last_Shown_Products_With_Numbers : '',\n  memory.Last_Product_List ? 'Last product list: ' + memory.Last_Product_List : ''\n].filter(Boolean).join('\\n');\n\nconst lastShownProducts = memory.Last_Shown_Products_With_Numbers || '';\n\nreturn [{ json: { senderPsid, messageText, messageType, productContext, faqContext, memoryContext, lastShownProducts, categoryList, memory, totalProducts: allProducts.length } }];"
      },
      "id": "n016",
      "name": "Prepare AI Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        340
      ]
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {
          "maxTokens": 500,
          "temperature": 0.3
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a friendly Bangladeshi clothing brand Messenger sales assistant.\n\nABSOLUTE RULES:\n1. ALWAYS reply in short natural mixed Bangla + English (Banglish). Max 1-2 sentences unless listing products.\n2. NEVER reply with generic fallback like 'কিভাবে সাহায্য করতে পারি?' when the customer asked a clear question.\n3. ONLY use products/data from the CONTEXT below. Never invent products, prices, or categories.\n4. The word 'ei', 'eta', 'this', 'that one', 'oi' ALWAYS means the last discussed product from memory.\n5. '2 number ta', 'second one', 'first one', '3 number' refers to the numbered product in Last shown products.\n6. 'okay', 'accha', 'hmm', 'thik ache' means continue previous context. NEVER greet again.\n\nGREETING HANDLING:\n- If customer says 'hi', 'hello', 'hey', 'assalamualaikum':\n  Reply: 'Hi! কী খুঁজছেন? T-shirt, hoodie নাকি jeans?' (use categories from AVAILABLE CATEGORIES)\n\nBROWSE HANDLING:\n- If customer asks 'ki ki item available?', 'ki ache?', 'products dekhao', 'show items':\n  List products from AVAILABLE PRODUCTS. Show numbered list with price.\n- If asking about specific category: show matching products.\n- ALWAYS use product data from AVAILABLE PRODUCTS section. Never say 'no products'.\n\nORDER HANDLING:\n- Weak words (want, need, chai, lagbe, dekhao) = browsing, NOT order.\n- Strong order: eta nibo, order korte chai, confirm order, buy, order now, checkout, book this, confirm kore din.\n- If 'order korte chai' and memory has previous product: continue with that product, ask only missing fields.\n- If 'order korte chai' but no product in memory: reply 'কোন productটা order করবেন? Name বা number বলুন।'\n- Required: product, size, color, phone, address.\n- If phone/address missing: 'Phone number আর delivery address দিন, order confirm করে দিচ্ছি।'\n- If complete: 'Order confirm ✅ Team shortly contact করবে।'\n\nSUPPORT RULES:\n- Only needsHumanSupport=true for: refund, wrong item, payment problem, angry complaint, human request.\n\nRESPONSE FORMAT - return ONLY valid JSON, no markdown:\n{\"replyText\": \"your short bangla reply\", \"intent\": \"browse|order|faq|support|greeting|continuation\", \"confidence\": \"high|medium|low\", \"aiUsed\": true, \"needsHumanSupport\": false, \"telegramAlertText\": \"\", \"memoryUpdate\": {\"lastProductId\": \"\", \"lastProductName\": \"\", \"lastCategory\": \"\", \"lastSize\": \"\", \"lastColor\": \"\", \"lastIntent\": \"\", \"lastShownProducts\": \"\"}, \"selectedProductIds\": [], \"lastShownProducts\": []}\n\nOnly fill memoryUpdate fields that changed. telegramAlertText only for confirmed orders or support."
            },
            {
              "role": "user",
              "content": "CUSTOMER MEMORY:\n{{ $json.memoryContext || 'No previous memory' }}\n\nAVAILABLE PRODUCTS:\n{{ $json.productContext || 'No products loaded' }}\n\nAVAILABLE CATEGORIES: {{ $json.categoryList || 'Unknown' }}\n\nRELEVANT FAQ:\n{{ $json.faqContext || 'None' }}\n\nLAST SHOWN PRODUCTS: {{ $json.lastShownProducts || 'None' }}\n\nCUSTOMER MESSAGE: {{ $json.messageText }}"
            }
          ]
        }
      },
      "id": "n017",
      "name": "AI Generate Reply",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        2460,
        340
      ],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json.text || $input.item.json.content || $input.item.json.message?.content || '';\nconst ctx = $('Prepare AI Context').item.json;\nconst senderPsid = ctx.senderPsid;\nconst messageText = ctx.messageText;\nconst messageType = ctx.messageType;\nconst productContext = ctx.productContext || '';\nconst categoryList = ctx.categoryList || '';\n\nlet parsed;\ntry {\n  let jsonStr = raw.trim();\n  if (jsonStr.includes('```')) jsonStr = jsonStr.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const firstBrace = jsonStr.indexOf('{');\n  const lastBrace = jsonStr.lastIndexOf('}');\n  if (firstBrace >= 0 && lastBrace > firstBrace) {\n    jsonStr = jsonStr.substring(firstBrace, lastBrace + 1);\n  }\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  const cleanRaw = raw.replace(/```[\\s\\S]*?```/g, '').trim();\n  let fallbackReply = '';\n  const msgLower = (messageText || '').toLowerCase();\n\n  if (msgLower.match(/^(hi|hello|hey|assalam)/)) {\n    fallbackReply = 'Hi! \\u0995\\u09C0 \\u0996\\u09C1\\u0981\\u099C\\u099B\\u09C7\\u09A8? ' + (categoryList ? categoryList.split(', ').slice(0,3).join(', ') + ' available \\u0986\\u099B\\u09C7\\u0964' : '\\u0995\\u09C0 item \\u09A6\\u09B0\\u0995\\u09BE\\u09B0 \\u09AC\\u09B2\\u09C1\\u09A8\\u0964');\n  } else if (msgLower.match(/available|ki ache|item|product|dekhao|show/)) {\n    fallbackReply = productContext ? 'Available items:\\n' + productContext.split('\\n').slice(0,4).join('\\n') + '\\nSize/colour \\u09AC\\u09B2\\u09B2\\u09C7 stock check \\u0995\\u09B0\\u09BF\\u0964' : '\\u098F\\u0996\\u09A8 \\u0995\\u09CB\\u09A8 specific item \\u0996\\u09C1\\u0981\\u099C\\u099B\\u09C7\\u09A8?';\n  } else if (msgLower.match(/order|nibo|buy|confirm/)) {\n    fallbackReply = '\\u0995\\u09CB\\u09A8 product\\u099F\\u09BE order \\u0995\\u09B0\\u09AC\\u09C7\\u09A8? Name \\u09AC\\u09BE number \\u09AC\\u09B2\\u09C1\\u09A8\\u0964';\n  } else if (cleanRaw.length > 5 && cleanRaw.length < 400 && !cleanRaw.includes('{')) {\n    fallbackReply = cleanRaw;\n  } else {\n    fallbackReply = '\\u0986\\u09AA\\u09A8\\u09BE\\u09B0 message \\u09AC\\u09C1\\u099D\\u09A4\\u09C7 \\u09AA\\u09BE\\u09B0\\u09B2\\u09BE\\u09AE\\u0964 \\u0995\\u09C0 item \\u0996\\u09C1\\u0981\\u099C\\u099B\\u09C7\\u09A8 \\u09AC\\u09B2\\u09C1\\u09A8, \\u09B8\\u09BE\\u09B9\\u09BE\\u09AF\\u09CD\\u09AF \\u0995\\u09B0\\u099B\\u09BF\\u0964';\n  }\n\n  parsed = { replyText: fallbackReply, intent: msgLower.match(/^(hi|hello|hey)/) ? 'greeting' : 'browse', confidence: 'low', aiUsed: true, needsHumanSupport: false, telegramAlertText: '', memoryUpdate: {}, selectedProductIds: [], lastShownProducts: [] };\n}\n\nif (messageType === 'voice_failed') {\n  parsed.replyText = 'Voice clear \\u09AC\\u09C1\\u099D\\u09A4\\u09C7 \\u09AA\\u09BE\\u09B0\\u09BF\\u09A8\\u09BF\\u0964 Please text \\u0995\\u09B0\\u09C7 \\u09AC\\u09B2\\u09AC\\u09C7\\u09A8 \\u0985\\u09A5\\u09AC\\u09BE \\u0986\\u09AC\\u09BE\\u09B0 voice \\u09A6\\u09BF\\u09A8\\u0964';\n  parsed.intent = 'voice_failed';\n}\n\nif (!parsed.replyText || parsed.replyText.trim().length === 0) {\n  parsed.replyText = '\\u0995\\u09C0 item \\u0996\\u09C1\\u0981\\u099C\\u099B\\u09C7\\u09A8 \\u09AC\\u09B2\\u09C1\\u09A8, \\u09B8\\u09BE\\u09B9\\u09BE\\u09AF\\u09CD\\u09AF \\u0995\\u09B0\\u099B\\u09BF\\u0964';\n}\nif (parsed.replyText.length > 600) parsed.replyText = parsed.replyText.substring(0, 597) + '...';\n\nreturn [{ json: { senderPsid, messageText, replyText: parsed.replyText, intent: parsed.intent || 'unknown', confidence: parsed.confidence || 'medium', aiUsed: true, needsHumanSupport: parsed.needsHumanSupport || false, telegramAlertText: parsed.telegramAlertText || '', memoryUpdate: parsed.memoryUpdate || {}, selectedProductIds: parsed.selectedProductIds || [], lastShownProducts: parsed.lastShownProducts || [] } }];"
      },
      "id": "n018",
      "name": "Validate AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2700,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst senderPsid = data.senderPsid;\nconst memUpdate = data.memoryUpdate || {};\nconst existingMem = $('Prepare AI Context').item.json.memory || {};\n\nconst memoryRow = {\n  Memory_ID: existingMem.Memory_ID || (senderPsid + '_mem'),\n  Sender_PSID: String(senderPsid),\n  Customer_Name: existingMem.Customer_Name || '',\n  Language_Style: existingMem.Language_Style || 'banglish',\n  Last_Intent: data.intent || existingMem.Last_Intent || '',\n  Last_Product_ID: memUpdate.lastProductId || existingMem.Last_Product_ID || '',\n  Last_Product_Name: memUpdate.lastProductName || existingMem.Last_Product_Name || '',\n  Last_Product_List: (memUpdate.lastShownProducts || existingMem.Last_Product_List || '').toString(),\n  Last_Category: memUpdate.lastCategory || existingMem.Last_Category || '',\n  Last_Size: memUpdate.lastSize || existingMem.Last_Size || '',\n  Last_Color: memUpdate.lastColor || existingMem.Last_Color || '',\n  Last_Budget: memUpdate.lastBudget || existingMem.Last_Budget || '',\n  Last_Occasion: memUpdate.lastOccasion || existingMem.Last_Occasion || '',\n  Last_User_Message: (data.messageText || '').substring(0, 300),\n  Last_Bot_Reply: (data.replyText || '').substring(0, 500),\n  Last_Shown_Products_With_Numbers: (memUpdate.lastShownProducts || existingMem.Last_Shown_Products_With_Numbers || '').toString(),\n  Short_Summary: (data.intent || '') + ': ' + (data.messageText || '').substring(0, 80),\n  Updated_At: new Date().toISOString()\n};\n\nreturn [{ json: { ...data, memoryRow } }];"
      },
      "id": "n019",
      "name": "Prepare Memory Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2940,
        340
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "sheetName": "Conversation_Memory",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Memory_ID": "={{ $json.memoryRow.Memory_ID }}",
            "Sender_PSID": "={{ $json.memoryRow.Sender_PSID }}",
            "Customer_Name": "={{ $json.memoryRow.Customer_Name }}",
            "Language_Style": "={{ $json.memoryRow.Language_Style }}",
            "Last_Intent": "={{ $json.memoryRow.Last_Intent }}",
            "Last_Product_ID": "={{ $json.memoryRow.Last_Product_ID }}",
            "Last_Product_Name": "={{ $json.memoryRow.Last_Product_Name }}",
            "Last_Product_List": "={{ $json.memoryRow.Last_Product_List }}",
            "Last_Category": "={{ $json.memoryRow.Last_Category }}",
            "Last_Size": "={{ $json.memoryRow.Last_Size }}",
            "Last_Color": "={{ $json.memoryRow.Last_Color }}",
            "Last_Budget": "={{ $json.memoryRow.Last_Budget }}",
            "Last_Occasion": "={{ $json.memoryRow.Last_Occasion }}",
            "Last_User_Message": "={{ $json.memoryRow.Last_User_Message }}",
            "Last_Bot_Reply": "={{ $json.memoryRow.Last_Bot_Reply }}",
            "Last_Shown_Products_With_Numbers": "={{ $json.memoryRow.Last_Shown_Products_With_Numbers }}",
            "Short_Summary": "={{ $json.memoryRow.Short_Summary }}",
            "Updated_At": "={{ $json.memoryRow.Updated_At }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        },
        "matchingColumns": [
          "Sender_PSID"
        ]
      },
      "id": "n020",
      "name": "Save Memory",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3180,
        500
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nreturn [{ json: { recipientId: data.senderPsid, messageText: data.replyText, needsHumanSupport: data.needsHumanSupport || false, telegramAlertText: data.telegramAlertText || '', intent: data.intent } }];"
      },
      "id": "n021",
      "name": "Prepare Final Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3180,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/me/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"recipient\": { \"id\": \"{{ $json.recipientId }}\" }, \"message\": { \"text\": \"{{ $json.messageText }}\" }, \"messaging_type\": \"RESPONSE\" }",
        "options": {}
      },
      "id": "n022",
      "name": "Send Messenger Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3420,
        340
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "MESSENGER_PAGE_TOKEN_ID",
          "name": "Messenger Page Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "combinator": "or",
          "conditions": [
            {
              "leftValue": "={{ $json.needsHumanSupport }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.telegramAlertText }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      },
      "id": "n023",
      "name": "Needs Alert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3420,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/botYOUR_BOT_TOKEN/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"chat_id\": \"YOUR_TELEGRAM_CHAT_ID\", \"text\": \"Messenger Alert\\nSender: {{ $json.recipientId }}\\nIntent: {{ $json.intent }}\\n\\n{{ $json.telegramAlertText || 'Customer needs human support' }}\" }",
        "options": {}
      },
      "id": "n024",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3660,
        540
      ]
    }
  ],
  "connections": {
    "Messenger Webhook": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Verify": {
      "main": [
        [
          {
            "node": "Verify Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Logic": {
      "main": [
        [
          {
            "node": "Respond Verify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Has Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Message?": {
      "main": [
        [
          {
            "node": "Dedup Check",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Dedup Check": {
      "main": [
        [
          {
            "node": "Is Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Audio?": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Products Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load FAQ Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Memory Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Set Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Transcription": {
      "main": [
        [
          {
            "node": "Load Products Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load FAQ Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Memory Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Products Sheet": {
      "main": [
        [
          {
            "node": "Prepare AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load FAQ Sheet": {
      "main": [
        [
          {
            "node": "Prepare AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Memory Sheet": {
      "main": [
        [
          {
            "node": "Prepare AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Context": {
      "main": [
        [
          {
            "node": "AI Generate Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Generate Reply": {
      "main": [
        [
          {
            "node": "Validate AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate AI Output": {
      "main": [
        [
          {
            "node": "Prepare Memory Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Final Reply": {
      "main": [
        [
          {
            "node": "Send Messenger Reply",
            "type": "main",
            "index": 0
          },
          {
            "node": "Needs Alert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Alert?": {
      "main": [
        [
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prepare Memory Row": {
      "main": [
        [
          {
            "node": "Prepare Final Reply",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}